@use 'variables';
@use 'mixins';

body {
  font-family: variables.$font-main;
  color: variables.$color-primary;
  background: variables.$color-bg;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: variables.$txt-commun;
}


