/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body, h1, h2, h3, h4, p, figure, blockquote {
  margin: 0;
}

/* Body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Images */
img, picture {
  max-width: 100%;
  display: block;
}

/* Form elements */
input, button, textarea, select {
  font: inherit;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}
