// Colors
$color-primary: #F00;
$color-secondary: #666;
$color-bg: #fff;

// Typography
$font-main: 'helvetica', Arial, sans-serif;
$txt-commun: 'Manrope', Arial, sans-serif;

// Spacing
$spacing: 1rem;
